<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #3b4555;"></span>
		<span class="sg-label">#3b4555</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #28aae1;"></span>
		<span class="sg-label">#28aae1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #94d5f0;"></span>
		<span class="sg-label">#94d5f0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f1f8f8;"></span>
		<span class="sg-label">#f1f8f8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f6c917;"></span>
		<span class="sg-label">#f6c917</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #faf9f3;"></span>
		<span class="sg-label">#faf9f3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e5e5e5;"></span>
		<span class="sg-label">#e5e5e5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fcfcfc;"></span>
		<span class="sg-label">#fcfcfc</span>
	</li>
</ul>